.first-part
{
    text-align: center;
    text-decoration: solid;
    padding:10%;
    background-color: grey;

}
.first-part .div 
{
    border:100px;
    align-self: center;
    justify-content: center;
}
.first-part input
{
    /* align-self:center;
width:300px;
box-sizing: border-box;
box-shadow: 5px; */
align-self: center;
    justify-content: center;
    margin:30px auto;
width:80%;
max-width: 350px;
display: block;
border-width: 5px;box-sizing: content-box;height: 40px;
box-shadow: 20px;
font-size:24px;
border-radius: 3px;
border-color: purple;
}
.second-part h2
{
    text-align: center;
    text-decoration: solid;
    margin-bottom: 100px;
    
}
ul{
    list-style: none;    
}

li .name{
 width:60%;
float:left;
    display: block;
    margin-top: 20px;
    padding-left:10px;
    font-size:30px;    
    border-left:5px solid purple;
    margin-right:10%;
}
li .delete
{
border: 1px solid grey;
background: grey;
padding: 10px 10px 10px 50px;
font-size: 16px;
display: inline-block;
border-radius: 0 4px 4px 0;
cursor: pointer;
width: 100px;
margin: 20px 0;
color: white;

}
.delete:hover{
background-color:red;
color:white;
}
#addbook
{
    width:400px;
    margin:auto;
}
#addbook input
{
    margin: 0 auto;
    width:80%;
    max-width: 250px;
    display: block;
    border-width: 5px;box-sizing: content-box;height: 30px;
    margin:20px 0;
    font-size:16px;
    border-radius: 3px;
    border-color: green;
    float:left;
}
#addbook button
{
/* display: inline-block;
border-color: yellow;
height:30px;
border-width: 40px;s
background-color: green;
color: whitesmoke; */
border: 1px solid green;
background: green;
padding: 10px 20px;
font-size: 16px;
display: inline-block;
margin: 0;
border-radius: 0 4px 4px 0;
cursor: pointer;
width: 100px;

margin: 20px 0;
border-left: 0;
color: white;
}
#addbook:after{
    content: ' ';
    display: block;
    clear: both;
}
#hide
{
    width:50px;
}
#addbook label{
   
    font-size: 30px;
    line-height: 50px;
    /* margin:20px; */
}
.adding
{
    max-width: 400px;
    margin: auto;
}






